<!DOCTYPE html>
    <% include includes/head %>
    <body class="container">
        <header>
            <% include includes/header %>
        </header>
        <main>
            <h1><%= title %></h1>
            <p><%= msg %></p>
        </main>
        <% include includes/footer %>
    </body>
</html>